<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Óticas Precisão</title>

    <environment include="Development">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light corOtica fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">@*<i class="fas fa-car fa-lg"></i>*@ Óticas Precisão</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="white navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link navbar-text text-white" asp-action="About" asp-controller="Home">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text text-white" asp-action="Contact" asp-controller="Home">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-text text-white" asp-action="Privacy" asp-controller="Home">Privacy</a>
                    </li>

                    @*<li class="nav-item active">
            <a class="nav-link navbar-text text-white" asp-action="Registro" asp-controller="Usuarios">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-text text-white" asp-action="Login" asp-controller="Usuarios">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link navbar-text text-white" asp-action="Index" asp-controller="Usuarios">Meus dados</a>
        </li>

        <li class="nav-item">
            <a class="nav-link navbar-text text-white" asp-action="Index" asp-controller="Carros">Carros</a>
        </li>


        <li class="nav-item">
            <a class="nav-link navbar-text text-white" asp-action="Index" asp-controller="NiveisAcessos">Niveis de acesso</a>
        </li>

        <li class="nav-item">
            <a class="nav-link navbar-text text-white" asp-action="Index" asp-controller="Contas">Saldo</a>
        </li>*@

                </ul>

                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="conteudoPrincipal">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; 2019 - Óticas Precisão</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
