@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <text class="text-white">Ola, @UserManager.GetUserName(User) - </text>
            <a class="btn btn-link navbar-btn navbar-link" asp-controller="Usuarios" asp-action="Logout">Logout</a>
        </li>
    </ul>
}