/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.conteudoPrincipal {
    padding-top: 50px;
    padding-bottom: 50px;
}

.titulo {
    padding-top: 25px;
    padding-bottom: 10px;
}

.botoes {
    padding-bottom: 30px;
    padding-top: 30px;
}

.campos {
    padding-top: 15px;
    padding-bottom: 15px;
}

.enderecos, .carros, .dados {
    padding-bottom: 50px;
    padding-top: 50px;
}

.card-img-top {
    height: 300px;
}

.cartoes {
    padding-bottom: 20px;
}

.corOtica{
    background-color: navy;
}

.white{
    background-color: white;
}
.imagem-carrossel1 {
    object-fit: cover;
    object-position: 0 50%;
    height: 500px;
}
.imagem-carrossel2 {
    object-fit: cover;
    object-position: 0 50%;
    height: 500px;
}
.imagem-carrossel3 {
    object-fit: cover;
    object-position: 0 20%;
    height: 500px;
}
.font-title{
    font-family: 'Oswald', sans-serif;
}

